

body {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1vw;
	font-size: 0.85vw;
    width: 100%;
	}

h1, h2, h3, nav, footer {
    text-align: center;
}

nav {
    margin-bottom: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1vw;
}

h1 {
    padding: 1vw;
    font-size: 1.2vw;
}

h1.header {
    padding: 1vw;
    font-size: 1.5vw;
}

h2 {
    padding: 1vw;
    font-size: 1.1vw;
}

h2.chapter_image {
    font-style: italic;
    padding: 1vw;
    font-size: 1.1vw;
}

h3 {
    padding: 0.3vw;
    font-size: 0.9vw;
}

#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;    
}

footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 1vw;
}

p.library_stamp {
    height: 1.2em;
    margin-left: 8em;
    text-indent: 0em;
}

p {
    text-indent: 1em;
}

p.center {
    text-align: center;
}

p.folio {
    text-align: right;
    color: grey;
    font-size: small;
}

p.caption {
    height: 0.8em;
    text-align: center;
    font-style: italic;
}

p.publishing_info {
    text-align: center;
    font-style: italic;
}

p.byline {
    text-align: center;
}

p.library_shelfmark {
    color: lightgrey;
    text-indent: 0em;
}

p.handwritten {
   text-indent: 25em;
   color: lightgrey;
   font-style: italic;
}

p.barcode {
    text-indent: 0em;
}

p.page_header {
    text-align: center;
}

p.quote_long {
    font-size: small;
    margin-left: 5em;
}

p.without_indent {
    text-indent: 0em;
}

span.handwritten {
    color: lightgrey;
    font-style: italic;
}

span.initial {
    font-size: 1.5vw;
}

p.speaker {
    text-align: center;
    text-indent: 0em;
}

p.speech {
    margin-left: 7em;
    text-indent: 0em;
}

span.quote_short {
    font-style: italic;
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos, .copyright_text {
    display: inline;
}

.copyright_logo {
		width: 1vw;
		margin:.15vw;
	}

.row {
    padding: 1vw;
}

.row_image {
    padding: 1vw;
}

#collection {
    display: flex;
}

.thumbnail {
    margin: 5px;
    border: 1px solid black;
    width: 300px;
}

.img-full {
    margin: 3px;
    border: 1px solid black;
    width: 500px; 
}

.img-in-text {
    border: 1px solid black;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-small {
    border: 1px solid black;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
   width: 100%;
}

tr, th {
    border: 1px;
}

th.first {
    width: 60%;
}

